<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi tienda</title>
</head>
<body>
  <style>
    body {
            background-color: #0091ff; /* Fondo azul claro */
        }
    .nav-tabs {
        background-color: #08499e; /* Fondo azul oscuro */
    }
    .nav-tabs .nav-link {
        color: white; /* Texto blanco */
    }
    .nav-tabs .nav-link.active {
        color: white; /* Texto blanco para el enlace activo */
        background-color: #033669; /* Fondo un poco más oscuro para el enlace activo */
    }
</style>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/productos">Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/acercade">Acerca de</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Inicio de sesion</a>
  </li>
</ul>
</body>
</html>